.header{
	background-image: url('/assets/img/icon/bg.svg');
}

.header__row {
	display: flex;
	justify-content: space-between;
}
.header__container {
	height: 59px;
}
.header__group {
	width: 2.5%;
	height: 49px;
	border: 2px solid #222;
	background-color: #222;
	padding: 11px;
}

.header__logo {
	width: 5.7%;
	height: 49px;
	border: 2px solid #222;
	background-color: #222;
	padding: 9px;
}
.logo__img{
	width: 97%
}

.header__mine {
	width: 10.9%;
	height: 49px;
	background-color: rgba(34, 34, 34, 0.50);
}
.mine__title{
	color: #666;
	text-align: center;
	font-family: Roboto;
	font-size: 14px;
}
.mine__date{
	text-align: center;
	color: #B3B3B3;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 900;
	letter-spacing: 0.36px;
	text-transform: uppercase;
}
.header__sectionone {
	display:flex;
	justify-content: space-evenly;
	align-items: center;
	border: 2px solid #222;
	background-color: #222;
	height: 49px;
	width: 11.7%;
}
.header__sectiontwo {
	display:flex;
	justify-content: space-evenly;
	align-items: center;
	border: 2px solid #222;
	background-color: #222;
	height: 49px;
	width: 8.6%;
}
.header__sectionthree {
	padding: 0px 20px;
	display:flex;
	justify-content: space-evenly;
	align-items: center;
	border: 2px solid #222;
	background-color: #222;
	height: 49px;
	width: 7.5%;
}
.header__sectionfour {
	display:flex;
	justify-content: space-evenly;
	align-items: center;
	border: 2px solid #222;
	background-color: #222;
	height: 49px;
	width: 11.6%;
}
.header__sectionfive {
	padding: 0px 23.04px;
	display:flex;
	justify-content: start;
	align-items: center;
	border: 2px solid #222;
	background-color: #222;
	height: 49px;
	width: 8.9%;
}
.header__sectionsix {
	display:flex;
	justify-content: space-evenly;
	align-items: center;
	border: 2px solid #222;
	background-color: #222;
	height: 49px;
	width: 10.1%;
}

.section__imgone {
	
}
.section__textone {
	color: #808080;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px; /* 100% */
	text-transform: uppercase;
}
.section__imgtwo {
}
.section__texttwo {
	color: #808080;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
text-transform: uppercase;
}
.section__imgthree {
}
.section__textthree {
	color: #808080;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
text-transform: uppercase;
}
.section__imgfour {
}
.section__textfour {
	color: #808080;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
text-transform: uppercase;
}
.section__imgfive {
}
.section__textfive {
	color: #808080;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
text-transform: uppercase;
margin-left: 12px;
}
.section__imgsix {
}
.section__textsix {
	color: #808080;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
text-transform: uppercase;
}
.header__profile {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 14.21%;
	border: 2px solid #222;
	background-color: #222;
	height: 49px;
}
.profile__image {
}
.profile__title {
}
.profile__date {
	color: #808080;
font-family: Roboto;
font-size: 14px;
}
.profile__name {
	color: #808080;
font-family: Roboto;
font-size: 14px;
}
.header__settings {
	width: 2.55%;
	height: 49px;
	border: 2px solid #222;
	background-color: #222;
	justify-content: center;
	text-align: center;
}
.header__logout {
	width: 2.55%;
	height: 49px;
	border: 2px solid #222;
	background-color: #222;
	justify-content: center;
	text-align: center;
}