<header class="header">
	<div class="header__container">
		<div class="header__row">
			<div class="header__group"><img class="group__image" src="assets/img/icon/Vector.svg" alt=""></div>
			<div class="header__logo"><img class="logo__img" src="assets/img/icon/ico2.svg" alt=""></div>
			<div class="header__mine" >
				<div class="mine__title">Рудник «Алмазный»</div>
				<div class="mine__date">10:08  28.ФЕВ.2020 </div>
			</div>
			<div style="flex: 1; display: flex; gap: 5px;">
				<div *ngFor="let item of menu" class="header__section"  [routerLink]="item.path" routerLinkActive="active">
					<div class="section__img"><img [src]="item.icon" alt=""></div>
					<div class="section__text">{{item.title}}</div>
				</div>
			</div>
			<div class="header__profile">
				<div class="profile__image"><img src="assets/img/icon/man.svg" alt=""></div>
				<div class="profile__title">
					<div class="profile__date">8:03 16.дек.2019</div>
					<div class="profile__name">Фамилия И.О. – Диспетчер</div>
				</div>
			</div>
			<button class="header__settings">
				<img src="assets/img/icon/gear.svg" alt="">
			</button>
			<button class="header__logout" (click)="logout()">
				<img src="assets/img/icon/Outdoor.svg" alt="">
			</button>
		</div>
	</div>
</header>