.add-radio-container{
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow:hidden;
	form{
		 width: 476px;
		 height: 100%;
		 border: 3px solid #6D6D6D;
		 span{
			  color: #B3B3B3;
			  font-size: 16px;
			  font-weight: 700;
		 }
		 .upper-side{
			  margin: 13px;
			  display: flex;
			  justify-content: space-between;
			  align-items: center;
			  background-color: #000;
			  height: 49px;
			  .upper-side-left-part{
					display: flex;
					align-items: center;
			  }

			  .left-part__img{
				margin-left:18px;
			}

			  .close__buttoncont{
				display:flex;
				width: 49px;
				height: 49px;
				background-color: #222222;
				padding: 14px;
			  }

			  .close-button{
				width: 21px;
				height: 21px;
				text-align: center;
			  }

			  .close-button:hover{
					cursor: pointer;
					.close-button-icon{
						 stroke: red;
					}
			  }
		 }

		 .input-field{
			  max-height: 580px;
			  .form-group{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					margin: 10px 13px;
					label{
						margin: 0px;
						 color: #4D4D4D;
						 font-size: 12px;
						 font-weight: 500;
					}
					input{
						 background-color: #222;
						 border: none;
						 color: #808080;
						 font-size: 14px;
						 font-weight: 400;
						 padding: 8px;
						 &:focus{
							  outline: none;
						 }
					}
			  }

			  .form-group-exception{
					display: flex;
					
					.form-group{
						 flex-grow: 1;
					}
					.form-status{
						 background-color: #222;
						 flex-grow: 1;
						 display: flex;
						 align-items: center;
						 margin: 13px;
						 .dropdown{
							  background-color: #222;
							  flex-grow: 1;
							  padding: 10px;
							  border: none;
							  color: #808080;
						 }
						 img{
							  width: 26px;
							  height: 26px;
						 }
					}
			  }
		 }


		 .button-field{
			  margin: 20px 13px;
			  .button-block{
					display: flex;
					justify-content: end;
					.btn-deny{
						 padding: 10px;
						 margin-right: 10px;
						 background-color: #333333;
						 color: #B3B3B3;
						 display: flex;
						 align-items: center;
						 img{
							  margin-right: 5px;
						 }
						 &:hover{
							  opacity: 0.8;
						 }
					}
					.btn-success{
						 padding: 10px;
						 background-color: #006633;
						 display: flex;
						 align-items: center;
						 img{
							  margin-right: 5px;
						 }
					}
			  }
		 }
	}
}

form{
	position: relative;
	background: transparent;
	z-index: 2;
}

.form__bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image:url(/assets/img/icon/bg.svg);
	top: 0;
	left: 0;
	z-index: 1;    
}

.dropdown__mine{
		background-color: #222;
		border: none;
		color: #808080;
		font-size: 14px;
		font-weight: 400;
		padding: 8px;
		&:focus{
			 outline: none;
		}
  }

.dropdown__secured{
	background-color: #222;
		border: none;
		color: #808080;
		font-size: 14px;
		font-weight: 400;
		padding: 8px;
		&:focus{
			 outline: none;
		}
}